USE [master]
GO
/****** Object:  Database [MemoryGames]    Script Date: 4/5/2020 3:23:09 PM ******/
CREATE DATABASE [MemoryGames]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MemoryGames', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MemoryGames.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MemoryGames_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MemoryGames_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MemoryGames].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MemoryGames]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BestScores]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BestScores](
	[AccountID] [int] NOT NULL,
	[GameID] [tinyint] NOT NULL,
	[Diff_Symbol] [char](1) NOT NULL,
	[Best_Score] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Difficulties]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Difficulties](
	[Symbol] [char](1) NOT NULL,
	[Difficulty] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Difficulties] PRIMARY KEY CLUSTERED 
(
	[Symbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game Statistics]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game Statistics](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[GameID] [tinyint] NOT NULL,
	[Diff_Symbol] [char](1) NOT NULL,
	[Score] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[GID] [tinyint] NOT NULL,
	[GameName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image_Game]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image_Game](
	[ImagesIID] [int] NOT NULL,
	[GamesGID] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[IID] [int] NOT NULL,
	[IName] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[AccountID] [int] NOT NULL,
	[Audio] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sound_Game]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sound_Game](
	[SoundsSID] [int] NOT NULL,
	[GamesGID] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sounds]    Script Date: 4/5/2020 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sounds](
	[SID] [int] NOT NULL,
	[FileN] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Sounds] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BestScores] ADD  DEFAULT ((0)) FOR [Best_Score]
GO
ALTER TABLE [dbo].[BestScores]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[BestScores]  WITH CHECK ADD FOREIGN KEY([Diff_Symbol])
REFERENCES [dbo].[Difficulties] ([Symbol])
GO
ALTER TABLE [dbo].[BestScores]  WITH CHECK ADD FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GID])
GO
ALTER TABLE [dbo].[Game Statistics]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Game Statistics]  WITH CHECK ADD FOREIGN KEY([Diff_Symbol])
REFERENCES [dbo].[Difficulties] ([Symbol])
GO
ALTER TABLE [dbo].[Game Statistics]  WITH CHECK ADD FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([GID])
GO
ALTER TABLE [dbo].[Image_Game]  WITH CHECK ADD FOREIGN KEY([GamesGID])
REFERENCES [dbo].[Games] ([GID])
GO
ALTER TABLE [dbo].[Image_Game]  WITH CHECK ADD FOREIGN KEY([ImagesIID])
REFERENCES [dbo].[Images] ([IID])
GO
ALTER TABLE [dbo].[Options]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Sound_Game]  WITH CHECK ADD FOREIGN KEY([GamesGID])
REFERENCES [dbo].[Games] ([GID])
GO
ALTER TABLE [dbo].[Sound_Game]  WITH CHECK ADD FOREIGN KEY([SoundsSID])
REFERENCES [dbo].[Sounds] ([SID])
GO
USE [master]
GO
